@model RegisterVM
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="~/cssL/util.css">
	<link rel="stylesheet" type="text/css" href="~/cssL/main.css">
	<!--===============================================================================================-->
</head>
<body style="background-color: #e5e5e5 !important;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" asp-action="Registers" asp-controller="Acounts">
					<span class="login100-form-title p-b-43">
						Create New Acount
					</span>


					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" asp-for="Name" placeholder="Name" />
					</div>

					<div class="wrap-input100 validate-input" data-validate=" Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" asp-for="Name" placeholder="Email" />

					</div>


					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" asp-for="Password" placeholder="Password" />
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" asp-for="ConfirmePassword" placeholder="ConfirmePassword" />
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Create :)
						</button>
					</div>

				</form>

				
			</div>
		</div>
	</div>





	<!--===============================================================================================-->
	<!--===============================================================================================-->
	<script src="~/jsL/main.js"></script>

</body>
</html>